name: Auto Merge All Branches

on:
  pull_request:
    branches: [ "main" ]
    types: [opened, synchronize, reopened]

jobs:
  automerge:
    runs-on: ubuntu-latest

    steps:
    - name: Auto merge PR
      uses: actions/github-script@v6
      with:
        script: |
          const pr = context.payload.pull_request;

          // Auto merge TẤT CẢ PR vào main
          github.rest.pulls.merge({
            owner: context.repo.owner,
            repo: context.repo.repo,
            pull_number: pr.number
          });
